@import "theme/_main";

// You can add additional styling here
.navbar-item img {
  max-height: 2.75rem;
  margin-right: 12px;
}

.fullwidth {
  .article {
    width: 100%;
    max-width: 100%;
  }
}

// You can also add additional styling in a new file
@import "_example";